[submodule "modules/dcadec"]
	path = modules/dcadec
	url = https://github.com/webbbn/dcadec.git
[submodule "modules/rtaudio"]
	path = modules/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "modules/mavlink_c"]
	path = modules/mavlink_c
	url = https://github.com/mavlink/c_library_v2.git
