[Unit]
Description=Telemetry relay
After=wfb_config.service

[Service]
Type=simple
ExecStart=socat udp4-datagram:127.0.0.1:14550  open:/dev/ttyS0,raw,nonblock,waitlock=/tmp/s0.locak,echo=0,b19200,crnl
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
